[user]
	name = Chengke Wang
	email = chengke@pku.edu.cn
[color]
	ui = auto
[core]
	autocrlf = input
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all

[credential]
	helper = store
[diff]
	tool = nvim
[difftool "nvim"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = nvim
[mergetool "nvim"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c \"wincmd J\"
